<div class="slide-animate" ng-include="'/client/assets/partials/header.html'"></div>

<div class="row">
	<div class="col-xs-6 col-xs-push-3 col-xs-pull-3">
		First Name: <input class="form-control" type="text" ng-model="user.first"/>
		Last Name: <input class="form-control" type="text" ng-model="user.last"/>
		Email: <input class="form-control" type="text" ng-model="user.email"/>
        Password: <input type="password" class="form-control" ng-model="user.password"/>
		<button type="button" class="btn" ng-click="sign_up()">Sign up!</button>
	</div>
</div>