<div class="slide-animate" ng-include="'/client/assets/partials/header.html'"></div>

<div class="row">

    <div class="col-md-3">

        <h3>Upload file</h3>
        <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
        <input type="file" nv-file-select="" uploader="uploader" />
        <ul>
            <li ng-repeat="item in uploader.queue">
                <button ng-click="item.upload()">upload</button>
            </li>
        </ul>

    </div>

    <div class="col-md-9" style="margin-bottom: 40px">

        <h3>Uploaded</h3>

        <table class="table">
            <thead>
            <tr>
                <th width="50%">Name</th>
                <th ng-show="uploader.isHTML5">Size</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <!-- ngRepeat: item in uploader.queue -->
                <tr ng-repeat="upload in uploads" >
                    <td width="50%">{{upload.filename}}</td>
                    <td ng-show="uploader.isHTML5">{{upload.filesize}}</td>
                    <td>Status</td>
                    <td><button type="button" class="btn btn-success btn-xs" ng-click="sync(upload)">
                            <span class="glyphicon glyphicon-upload"></span> Sync
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="delete(upload)">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
