body
{
	margin: 0px !important;
}

html body#override{
    font-family: 'Stint Ultra Expanded', cursive !important;
}

html body#override p{
    font-family: 'Pontano Sans', sans-serif !important;
}

#home-header
{
	width: 100%;
	height: 80vh;
	min-height: 100%;
	/*background-image: url('../img/stats.png');*/
	/*background-repeat: no-repeat;*/
	/*background-size: contain;*/
	/*background-position: center; */

}

#home-header #home-header-text
{
	margin: auto;
	width: 550px;
	max-width: 100%;
	font-size: 200%;
}

#home-header #home-header-text h1
{
	text-align: center;
	margin-bottom: 0px;
}
#home-header #home-header-text h3
{
	text-align: right;
	margin-top: 0px;
}
#home-header a.top
{
	margin-top: 10vh !important;
	margin-bottom: 15px;
}
#home-header a
{
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
	border: none;
	font-weight: bolder;
	font-size: 129%;
	width: 250px;
	margin: auto;
	color: black !important;
	text-align: center;
}

.green
{
    color: #029f5a;
}
.gold
{
    color: #ffbd0a;
}
.red
{
    color: #d3412e;
}
.blue
{
    color: #1f73f0;
}
h3
{
    color: #9fa2a6 !important;
}

#home-header a.signin
{
    border: 2px solid #1f73f0;
    border-left: 10px solid #d3412e !important;
}


#home-header a.signup
{
    border: 2px solid #029f5a;
    border-left: 10px solid #ffbd0a !important;
}

#home-header a:hover
{
	text-decoration: none;
}

#page-header
{
	background-color: #FDF5E6;
	height: 50px;
}

#page-header div
{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#page-header #logo
{
	width: 50%;
	float: left;
	font-size: 190%;
	left: 10px;
}
#page-header #menu-items
{
	width: 50%;
	float: right;
	text-align: right
}
